<div class="text-center mb-4">
  <h1>"<span style="font-weight: bold;"><%= @restaurant.rest_name %></span> "のレビュー投稿ページ</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3 mb-4">
    <%= image_tag @restaurant.rest_image, class: 'review-image' %>
  </div>
</div>

<div class="review-form">
  <%= form_with(model: [@restaurant, @like], url: restaurant_likes_path(@restaurant) , local: true) do |f| %> 
  <%= render 'layouts/error_messages', model: @like %>
  
  <div class="row">
    <div class="offset-sm-3 col-sm-6 mb-4">
      <%= f.label :review_title, 'タイトル', class: 'bold' %>
      <%= f.text_field :review_title, class: 'form-control', placeholder: 'タイトルは20字以内です' %> 
    </div>
  </div>
  
  <div class="row">
    <div class="offset-sm-3 col-sm-6 mb-4">
      <%= f.label :score, '評価', class: 'bold' %>
      <%= f.hidden_field :score, id: :rest_rating %> 
      <div id="star-rating"></div>
      <script>
        $('#star-rating').raty({
          path: '/assets/',
          click: function(score, e) {
          $("#rest_rating").val(score)
          }
        });
      </script>
    </div>
  </div>
  
  <div class="row">
    <div class="offset-sm-3 col-sm-6 mb-4">
      <%= f.label :review_contents, 'レビュー内容', class: 'bold' %>
      <%= f.text_field :review_contents, class: 'form-control', placeholder: 'レビュー内容を500字以内で記述してください' %> 
    </div>
  </div>
  
  <div class="row">
    <div class="offset-sm-3 col-sm-6 mb-4">
      <%= f.label :review_image, '画像', class: 'bold' %>
      <div>
        <%= f.file_field :review_image %> 
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="offset-sm-3 col-sm-6 mb-4 mt-2">
      <%= f.submit 'レビューを投稿する', class: 'btn btn-block btn-success' %>
    </div>
  </div>
  
  <% end %>
  
  <div class="row">
    <div class="offset-sm-3 col-sm-6 mb-4 mt-2">
      <%= link_to '戻る', :back, class: 'btn btn-block btn-primary' %>
    </div>
  </div>

</div>