<div class="text-center mb-5">
  <h1>ユーザー一覧</h1>
</div>

<% if @users.any? %>
  <ul class="list-unstyled">
    <% @users.each do |user| %>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <li class="media">
            <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 60 }) %>" alt="">
          <div class="media-body">
            <div>
              名前 : <%= user.name %>
            </div>
            <div>
              <p class="mb-2">自己紹介 : <%= user.contents %></p>
              <p><%= link_to 'View profile', user_path(user) %></p>
            </div>
          </div>
        </li>
      </div>
    </div>
    <% end %>
  </ul>
  <%= paginate @users %>
<% end %>
