<div class="toppage">
  <div class="text-center header-title mb-4">
    <%= image_tag asset_path('title.png'), class: 'header-logo' %>
  </div>
    
  <% if logged_in? %>
   
  <%# カルーセルスライダー %>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 mb-5">
	    <ul class="slider">
	      <li><%= image_tag asset_path('french.png') %></li>
	      <li><%= image_tag asset_path('kominka.png') %></li>
	      <li><%= image_tag asset_path('yatai.png') %></li>
	    </ul>
	  </div>
  </div>

  
  <div class="text-center mb-4">
    <h5 class="search_icon">お店を検索してみよう！<span class="fas fa-search ml-2"></span></h5>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="search_field">
        <%= form_with(url: restaurants_path, scope: :search, local: true, method: :get) do |f| %>
        
        <div class="form-group">
          <%= f.text_field :freeword_field, class:'form-control' %>
        </div>
          <%= f.submit '検索！', class: 'btn btn-block btn-primary' %>
        <% end %>
      </div>

    </div>
  </div>
  
  <% else %>
  <%# 非ログイン時のトップページ %>
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <%= link_to '新規登録', new_user_path, class: 'btn btn-block btn-success mb-5' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-block btn-primary' %>
    </div>
  </div>
  
  <% end %>

  
</div>
  

  
