<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
    <div class="row">
      <div class="col-sm-3 offset-sm-4">
        <li class="media mb-3">
            <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 60 }) %>" alt="">
          <div class="media-body">
            <div>
              <span style="font-weight: bold;" class="break-style"><%= user.name %></span>
            </div>
            <div>
              <p class="mb-2 break-style"><%= user.contents %></p>
            </div>
          </div>
        </li>
      </div>
      <div class="col-sm-3">
        <p><%= link_to 'View profile', user_path(user), class: 'btn btn-success' %></p>
      </div>
    </div>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>
